html,
body {
/*css for full size background image*/
  background: url(file:///C:/wamp/www/My%20Project/img/scrubs.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  height: 100%;
  background-color: #060;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);

}

a,
a:focus,
a:hover {
  color: #fff;
  text-decoration: none;
}

.jumbotron {
  text-shadow: 2px 2px #000;
  font-size: 3em;
  background: rgba(0, 0, 0, 0);
}

#intro {
  margin-top: -10px;
}
h2 {}

p {}
